apiVersion: v1
kind: Service
metadata:
  name: splunk
  namespace: monitoring
  labels:
    app: splunk
spec:
  type: ClusterIP
  selector:
    app: splunk
  ports:
    - name: web
      port: 8000
      targetPort: 8000
      protocol: TCP
    - name: hec
      port: 8088
      targetPort: 8088
      protocol: TCP
    - name: forwarder
      port: 9997
      targetPort: 9997
      protocol: TCP
    - name: s2s
      port: 9998
      targetPort: 9998
      protocol: TCP
    - name: mgmt
      port: 8089
      targetPort: 8089
      protocol: TCP
